


  
<div class="container">
<div class="container-fluid ">
  <div class="row ">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar shadow-sm">
      <div class="sidebar-sticky">
        <ul class="nav nav-pills flex-column mt-5 ">
         
          <li class="nav-item mt-5">
            <a class="nav-link font-weight-bold {% if controller_name == 'AdminAlbumController' %} font-italic text-danger{% endif %}" href="{{path('admin_album')}}">
              <span data-feather="album"></span>
              <i class="far fa-images"></i>
              Albums
            </a>
            <a class="nav-link ml-3 my-1" href="{{path('admin_album_new')}}">
              <span data-feather="album"></span>
              <i class="far fa-plus-square"></i>
              Add new album
            </a>
          </li>
         
          <li class="nav-item mt-2 ">
            <a class="nav-link font-weight-bold {% if controller_name == 'AdminImageController' %} font-italic text-danger{% endif %}" href="{{path('admin_image')}}">
              <span data-feather="images"></span>
              
              <i class="far fa-image"></i>
              Images
              
            </a>
            <a class="nav-link ml-3 my-1" href="{{path('admin_image_new')}}">
              <span data-feather="images"></span>
              <i class="far fa-plus-square"></i>
              Add new image
            </a>
          </li>

          <li class="nav-item mt-2 ">
            <a class="nav-link font-weight-bold {% if controller_name == 'AdminCommentController' %} font-italic text-danger{% endif %}" href="{{path('admin_comment')}}">
              <span data-feather="images"></span>
              
              <i class="far fa-comments"></i>
              Comments
              
            </a>
          <a class="btn btn-danger mt-5 ml-3" href="{{ path('user_logout') }}">logout</a>
        </ul>
      </div>
    </nav>
  </div>
  