 
 <header class="mb-5">
     
      <div class="wrapper">
       
        <nav class="site-nav">
          <h1 class="logo"><img id="canva-logo" src="{{ asset('/build/images/logo2.2868e752.png')}}" alt="logo"></h1>

            <div class="menu-toggle">
              <div class="hamburger">
               
              </div>
                
            </div>

            <ul class="open desktop">
                <li><a href="{{ path('home') }}"><i class="fa fa-database site-nav--icon"></i><div>Home</div></a></li>
                <li><a href="{{ path('portfolio') }}"><i class="fa fa-info-circle site-nav--icon"></i><div>Portfolio</div></a></li>
                <li><a href="{{ path('contact') }}"><i class="fa fa-paper-plane site-nav--icon"></i><div>Contact me</div></a></li>
                <li><a href="{{ path('user_login') }}"><div>Login</div></a>
      </li>
            </ul>
        </nav>
    </div>
   
    </header>
 
