{% extends 'user_base.html.twig' %}

{% block body %}

  {% for album in albums %}

  <div class="wrapper image-wrapper h-100-less bg-image inverse-text box-shadow light-gallery" data-image-src="/uploads/images/{{ album.cover }}" style="background-image: url('/uploads/images/{{ album.cover }}');">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-12 my-auto text-center">
          <div class="container mx-auto">
            <h1 class="heading">{{ album.title }}</h1>
            <p class="lead larger">{{ album.text }}</p>
            <div class="space10"></div>
            <a href="/uploads/images/{{ album.cover }}" class="btn btn-full-rounded btn-white">See Gallery</a>
            <ul class="d-none">

              {% for image in album.images %}
                {% if image.filename != album.cover %}

              <li><a href="/uploads/images/{{ image.filename }}"></a></li>
 
                {% endif %}
              {% endfor %}
            
            </ul>
            <!-- /.d-none --> 
          </div>
          <!-- /.container --> 
        </div>
        <!-- /column --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container-fluid --> 
  </div>
  <!-- /.wrapper -->
                  
  {% endfor %} 
           
             
             

            
            
           

 
      
{% endblock %}
{% block javascripts %}

{% endblock %}
