{% extends 'user_base.html.twig' %}

{% block body %}
 
  <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/uploads/images/{{ album.cover }}" data-aos="fade">
    <div class="container inner pt-120 pb-120 text-center">
      <h1 class="heading">{{ album.title }}</h1>
      <p class="lead larger text-center mb-0">{{ album.text }}</p>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper light-wrapper">
        <div class="space30"></div>
        <div class="clearfix"></div>
        <div id="cube-grid-mosaic" class="cbp light-gallery">
        
            {% for item in collection %}
           
            <div class="cbp-item" id="image-item{{ item.image.id }}">
                <figure class="overlay overlay2">
                    <a href="/uploads/images/{{ item.image.filename }}" data-sub-html="#caption{{loop.index}}"><img src="/uploads/images/{{ item.image.filename }}" class="p-2" alt="image {{ item.image.id ~ 'in' ~ album.title }}" />
                        <div id="caption{{loop.index}}" class="d-none">
                           <div class="imageform d-none fixed-top inverse-text"></div>
                          <div class="d-flex justify-content-around">
                            <h2 class="ml-2">
                             <span id="image-comments-length">{{ item.image.comments|length }}</span> Comment{% if item.image.comments|length > 1 %}s{% endif %} 
                              <p class="clickable-link mr-3 mt-3 "  onclick="openComments( {{item.image.id }},false);" >
                                <span class="show badge bg-brown ">Show comments</span>
                              </p>
                            </h2>
                            <p class="mx-auto">{{ item.image.text }}</p>
                             <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2F127.0.0.1%3A8000%2Fportfolio%2F20%2Fshow&layout=button&size=small&width=81&height=20&appId"  width="80" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                          </div>
                        </div>
                        <!--/Caption-->
                    </a>
                </figure>
            </div>
            <!--/.cbp-item -->

            {% endfor %}
           
        </div>
        <!--/.cbp --> 
       <div class="space30"></div>
       <div class="text-right mr-3">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2F127.0.0.1%3A8000%2Fportfolio%2F20%2Fshow&layout=button&size=small&width=81&height=20&appId"  width="80" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="wrapper dark-wrapper pt-5">
        <div class="container pt-5">
          <div class="row">
            <div class="col-12" id="display">
              <div class="space30"></div>
                <section class="d-flex justify-content-between" >
                  <div class="container" >
                    <h4 class="text-warning"><span id="album-comments-length">{{ comments|length }}</span> Comment{% if comments|length > 1 %}s{% endif %}</h4>
                    <div id="album-comments">
                      {% for comment in comments %}
                        {{ include('comments/comment.html.twig') }}
                      {% endfor %}
                    </div>
                  </div>
                  <div class="container">
                       {% include '/comments/forms/form.html.twig' with { type:'album'} %}
                  </div>
                </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.wrapper -->
    <div id="comments" style="display:none">
        <h4 class="text-warning">Comments<span><i class="fas fa-times close text-light" style="cursor:pointer"></i></span></h4>
        <div id="comments-list">
        </div>
    </div>

{% endblock %}


 